@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply bg-[#f4f5f7] dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}

#HostelTable {
  border-collapse: collapse; 
}

#HostelTable th,
#HostelTable tr,
#HostelTable td {
  border: 1px solid black;
  padding: 4px 8px ; /* Specify width, style, and color */
}