@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body{
  background-color: #f4f5f7;
}

#HostelTable {
  border-collapse: collapse; 
}

#HostelTable th,
#HostelTable tr,
#HostelTable td {
  border: 1px solid black;
  padding: 4px 8px ; /* Specify width, style, and color */
}